@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Магазин автозапчастей</p>
    <img src="/img/main.png" alt="альтернативный текст">
</div>
